<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutwardWikiDataGrabber.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OutwardWikiDataGrabber.My.MySettings>
            <setting name="OutputFileName" serializeAs="String">
                <value>items</value>
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="OutputFileExt" serializeAs="String">
                <value>.json</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AppFont" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="HotkeyStart" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="HotkeyNext" serializeAs="String">
                <value>F7</value>
            </setting>
        </OutwardWikiDataGrabber.My.MySettings>
    </userSettings>
</configuration>